/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vs/
/.vscode/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.txt

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
/Assets/Plugins/ARSS_SDKLOG/*
/Assets/Plugins/ARNET_SDKLOG/*
/Assets/Plugins/XPLAYLOG/*
!/Assets/StreamingAssets/NewDevCalibParam.xml
!/Assets/StreamingAssets/ARDemoCfg.xml
!/Assets/StreamingAssets/VP12Data.xml
/CodeGraphData/*
/NDependOut/*
Assets/Plugins/logar.txt
/OutLog/*.txt
/ARDebugLog/*
